

.taskContainer {
	display: flex;
	overflow-x: hidden;
}

.addtaskcontainer{
  position: fixed;
  top : 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  z-index: 10;
  display: none;
  transition: transform 0.4s,top 0.4s;
}

.open-popup{
  display: block;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

:root{
  --white : white;
  --button-color : blue;
}
.addtaskcontainer{
  position: fixed;
  top : 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  z-index: 10;
  visibility: hidden;
  transition: transform 0.4s,top 0.4s;
}

.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
