.page{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin: 20px auto;
}

.page p {
  margin-top: 8px;
}

.arrow{
  text-decoration: none;
  color: black;
  margin: 0px 10px;
  border: 1px solid black;
  font-size: 30px;
  padding:10px;
  background-color: #323232;
  border-radius: 40%;
}

