<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Management System</title>
  <link rel="stylesheet" href="/css/adminmodule/menubar.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/bootstrap.js"></script>
  <link rel="stylesheet" href="/css/loginmodule/popup.css">
  <link rel="stylesheet" href="/bootstrap_icon_css/bootstrap-icons.min.css">
  <script src="/boxicon/dist/boxicons.js"></script>
  <link rel="stylesheet" href="/boxicon/css/boxicons.min.css">
</head>

<body>
  <div class="container-div">
    <div class="admin">
      <%- include('../partials/adminmenubar') %>
        <div class="rightbar">
          <%- include('../partials/navigation') %>

            <div class="my-5">
              <div class="my-4">
                calender
              </div>
            </div>
        </div>
    </div>
  </div>
  <div class="text-center p-4" style="background-color: #323232; color:white;">
    © 2024 Copyright
  </div>
</body>

</html>