<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Messages</title>
  <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css">
  <script src="/sweetalert2/sweetalert2.min.js"></script>
  <link href="/bootstrape/css/bootstrap.min.css" rel="stylesheet">
  <script src="/boxicon/dist/boxicons.js"></script>
  <link rel="stylesheet" href="/boxicon/css/boxicons.min.css">
  <link rel="stylesheet" href="/css/adminmodule/menubar.css">

</head>
<body>
  
<body onload="">
  <div class="container-div">
    <div class="admin">
      <%- include('../partials/adminmenubar') %>
        <div class="rightbar">
          <%- include('../partials/navigation') %>
              <div class="print-users">
                
              </div>
        </div>
    </div>
  </div>
</body>
</body>
</html>