<div class="modal fade modal-lg" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Profile</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">
        <form action="/admin" method="post">
          <div class="d-flex p-2 justify-content-around">
            <div class="d-flex p-2 flex-column">
              <img src="/assets/employee/user.png" alt="profile image" id="selectedImage" width="200" height="200"
                class="rounded-circle">
              <label for="change" class="text-center mt-4">Change</label>
              <input type="file" name="profileimg" id="change" style="display: none;">
            </div>
            <div>
              <div class="mb-3">
                <label for="firstname" class="form-label">First Name: </label>
                <input type="text" class="form-control" id="firstname" aria-describedby="textHelp" value="">
              </div>
              <div class="mb-3">
                <label for="lastname" class="form-label">Last Name: </label>
                <input type="text" class="form-control" id="lastname" aria-describedby="textHelp">
              </div>
              <div class="mb-3">
                <label for="email1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="phone_input" class="form-label">Phone</label>
                <input type="tel" required maxlength="50" class="form-control" id="phone_input" name="Phone"
                  placeholder="Phone">
              </div>

              <div class="mb-3">
                <label for="dob_input" class="form-label">Date Of Birth</label>
                <input type="text" required style="width: 213px;" class="form-control" id="dob_input" name="dob"
                  class="datepicker">
              </div>

              <div class="mb-3">
                <label for="role_name" class="form-label">Role</label>
                <input type="text" value="Admin" name="role_name" id="role_name" class="form-control" class="datepicker"
                  disabled>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<!-- <script>
  const imageInput = document.getElementById("change");
  const selectedImage = document.getElementById("selectedImage");

  imageInput.addEventListener("change", function (event) {
    const file = event.target.files[0];
    const reader = new FileReader();

    reader.onload = function (event) {
      selectedImage.src = event.target.result;
    };

    reader.readAsDataURL(file);
  });
</script> -->