<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css" />
    <script src="/sweetalert2/sweetalert2.min.js"></script>
    <link href="/bootstrape/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/adminmodule/menubar.css" />
    <link rel="stylesheet" href="/boxicon/css/boxicons.min.css" />

    <link rel="stylesheet" href="/bootstrap_icon_css/bootstrap-icons.min.css" />

    <title>Socket</title>
    <style>
      :root {
        --fontcolor: #2e4374;
      }
      .font {
        color: var(--fontcolor);
      }
      .containere {
        width: 1000px;
        margin: 0 auto;
        max-width: 1000px;
      }
      .maine {
        margin-top: 90px;
        height: 100dvh;
        display: flex;
        align-items: end;
        justify-content: center;
      }
      .msg {
        background-color: #2e4374;
      }
    </style>
  </head>
  <body onload="displaymessages()">
    <div class="container-div">
      <div class="admin">
        <%- include('../partials/adminmenubar') %>
        <div class="rightbar">
          <%- include('../partials/navigation') %>
          <div class="my-5">
            <div class="maine">
              <div class="containere">
                <div class="zone" id="zone"></div>
                <div
                  class="msg-zone"
                  id="msg-zone"
                  style="overflow-y: scroll; height: 100dvh"
                >
                  <div
                    id="recver-msg"
                    class="d-flex align-items-start flex-column"
                  >
                    <p class="alert alert-info p-3" style="width: fit-content">
                      hello
                    </p>
                  </div>
                  <div
                    id="sender-msg"
                    class="d-flex align-items-end flex-column"
                  >
                    <p class="alert alert-info p-3" style="width: fit-content">
                      hi
                    </p>
                  </div>
                </div>
                <form class="message_form" id="socket-form">
                  <div class="row">
                    <div class="col-md-11">
                      <input
                        type="text sticky-bottom"
                        class="form-control fs-5"
                        style="position: sticky"
                        id="msg"
                        name="content"
                        placeholder="Type a message"
                      />
                    </div>
                    <div class="col-md-1">
                      <p
                        class="form-control btn text-white"
                        style="background-color: var(--fontcolor)"
                        type="submit"
                        onclick="getUser()"
                      >
                        <i class="bi bi-send fs-5"></i>
                      </p>
                    </div>
                  </div>
                  <input type="text" name="sender_id" id="sender_id" hidden />
                  <input type="text" name="reciver_id" id="reciver_id" hidden />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/js/adminmodule/insertsocketdata.js" defer></script>
    <script src="/js/adminmodule/displaySocketmessages.js" defer></script>
  </body>
</html>
