<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Management System</title>
  <link rel="stylesheet" href="/css/adminmodulo/menubar.css">
  <link rel="stylesheet" href="/bootstrap_icon_css/bootstrap-icons.min.css">
</head>

<body>
  <div class="container">
    <div class="admin">
      <div class="sidebar">
        <div class="task-logo">
          <img src="/assets/adminmodulo/logo.png" alt="logo">
        </div>
        <ul id="menu-bar">
          <div class="list">
            <i class="bi bi-person-lines-fill"></i>
            <li><a href="/admin/dashboard">Dashboard</a></li>
          </div>
          <div class="list">
            <i class="bi bi-people-fill"></i>
            <li><a href="/admin/managers">Managers</a></li>
          </div>
          <div class="list">
            <i class="bi bi-people-fill"></i>
            <li><a href="/admin/employees">Employees</a></li>
          </div>
          <div class="list">
            <i class="bi bi-list-task"></i>
            <li><a href="/admin/tasks">Tasks</a></li>
          </div>
          <div class="list">
            <i class="bi bi-list-task"></i>
            <li><a href="/admin/tasktrack">Tasks_track</a></li>
          </div>
          <div class="list">
            <i class="bi bi-calendar-event"></i>
            <li><a href="/admin/calender">calender</a></li>
          </div>
        </ul>
      </div>
</body>

</html>