<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Management System</title>
  <link rel="stylesheet" href="/css/adminmodulo/menubar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
  <div class="container">
    <div class="admin">
      <div class="sidebar">
        <div class="task-logo">
          <img src="/assets/adminmodulo/logo.png" alt="logo">
        </div>
        <ul id="menu-bar">
          <div class="list">
            <i class="fa-solid fa-user"></i>
            <li><a href="/admin/dashboard">Dashboard</a></li>
          </div>
          <div class="list">
            <i class="fa-solid fa-user"></i>
            <li><a href="/admin/managers">Managers</a></li>
          </div>
          <div class="list">
            <i class="fa-solid fa-users"></i>
            <li><a href="/admin/employees">Employees</a></li>
          </div>
          <div class="list">
            <i class="fa-solid fa-list-check"></i>
            <li><a href="/admin/tasks">Tasks</a></li>
          </div>
          <div class="list">
            <i class="fa-solid fa-bars"></i>
            <li><a href="/admin/tasktrack">Tasks_track</a></li>
          </div>
          <div class="list">
            <i class="fa-regular fa-calendar-days"></i>
            <li><a href="/admin/calender">calender</a></li>
          </div>
          <div class="list">
            <i class="fa-solid fa-right-from-bracket"></i>
            <li><a href="/admin/logout">Logout</a></li>
          </div>
        </ul>
      </div>
</body>

</html>