<div class="task-logo">
  <img src="/assets/adminmodule/logo.png" style="height: 108px;
  width: 277px;" alt="logo" />
</div>
<ul id="menu-bar" class="m-2">
  <a class="list-group-item list-group-item-action" href="/employee/dashboard">
    <div class="list d-flex px-4 py-3">
      <i class="bi bi-list-task"></i>
      <li>Dashboard</li>
    </div>
  </a>
  <a class="list-group-item list-group-item-action" href="/employee/task/1">
    <div class="list d-flex px-4 py-3">
      <i class="bi bi-list-task"></i>
      <li>Tasks</li>
    </div>
  </a>
  <a class="list-group-item list-group-item-action" href="/employee/teamdata/1">
    <div class="list d-flex px-4 py-3">
      <i class="bi bi-people-fill"></i>
      <li>Team</li>
    </div>
  </a>
</ul>