<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Management System</title>
  <link rel="stylesheet" href="/css/adminmodule/menubar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
  <div class="container">
    <div class="admin">
      <div class="sidebar">
        <div class="logo">
          <img src="/assets/logo.png" alt="logo">
        </div>
        <ul id="menu-bar">
          <div class="list">
            <i class="fa-solid fa-user"></i>
            <li><a href="/employee/dashboard" class="list-group-item list-group-item-action">Dashboard</a></li>
          </div>
          <div class="list">
            <i class="fa-solid fa-list-check"></i>
            <li><a href="/employee/task/1" class="list-group-item list-group-item-action">Tasks</a></li>
          </div>
          <div class="list">
            <i class="fa-solid fa-bars"></i>
            <li><a href="/employee/teamdata/1" class="list-group-item list-group-item-action">Team</a></li>
          </div>
          <div class="list">
            <i class="fa-regular fa-calendar-days"></i>
            <li><a href="/employee/calender" class="list-group-item list-group-item-action">calender</a></li>
          </div>
          <div class="list">
            <i class="fa-solid fa-right-from-bracket"></i>
            <li><a href="/employee/logout" class="list-group-item list-group-item-action">Logout</a></li>
          </div>
        </ul>
      </div>
</body>

</html>
