<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/adminmodulo/pagination.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div class="page">
        <% if(page >1) { %>
            <a  class="fa-solid fa-angles-left arrow" href="?p=1" <% if (pageno == 1) { %> onclick = 'return false;' <% } %>></a>
            <a  class="fa-solid fa-angle-left arrow" href="?p=<%= Number(pageno)-1%>" <% if (pageno == 1) { %> onclick = 'return false;' <% } %>></a>
            <p><%= pageno %></p>
            <a  class="fa-solid fa-angle-right arrow" href="?p=<%= Number(pageno)+1%>" <% if(pageno == page) { %> onclick = 'return false;' <% } %> ></a>
            <a class="fa-solid fa-angles-right arrow" href="?p=<%= page %>"<% if(pageno == page) { %> onclick = 'return false;' <% } %> ></a>
            <% } %>
    </div>
</body>
</html>