:root{
  --sidebarcolor : #323232;
  --white : white;
  --cornflowerblue : cornflowerblue;
}
*{
  margin: 0;
  padding: 0;
}
body{
  position: relative;
}
.managermain{
  background-color: #DDD0C8;
  margin: 0 auto;
  width: 1170px;
  overflow: hidden;
}
.manager{
  display: flex;
}
.managersidebar{
  border-top-right-radius: 30px;
  background-color: var(--sidebarcolor);
  width: 20%;
  color: var(--white);
  height: 99vh;
}
.managersidebar .logo img{
  width: 20px;
  padding: 20px 40px;
}
.sidebarcontain{
  position: sticky;
}
.list{
  display: flex;
  padding: 20px 40px;
}
.list:hover{
  background-color:var(--cornflowerblue);
  border-radius: 5px;
}
.list i{
  font-size: 20px;
  padding-right: 15px;
}
.list li{
  color: white;
  list-style: none;
  cursor: pointer;
}
.list img{
  color: var(--white);
}

.dots > img {
  cursor: pointer;
}
.sidebaricon{
  color: var(--white);
}