<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/managermodule/addtask.css">
  <title>addtask</title>
</head>
<body>
  <div class="addtaskcontainer">
    <div class="addtask">
      <div class="taskrow"><h3>ADD TASK</h3></div>
    <div class="taskrow">
        <div class="subcol">
        <label for="tname">Task Name</label>
        <input type="text" name="task_name" placeholder="Test task" id="task_name"/>
        </div>
      </div>
    <div class="taskrow">
        <div class="subcol">
          <label for="assignto" id="Assin_task_to" multiple>Assign Task To</label>
          <select>
            <option value="1">meera ladani</option>
            <option value="2">neerav modi</option>
            <option value="3">Subhi rank</option>
          </select>
        </div>
    </div>
    <div class="taskrow">
      <div class="taskcol">
        <div class="subcol select">
          <label for="tstage" id="task_stage">Task Stage</label>
          <select>
            <option value="1">To Do</option>
            <option value="2">In Progress</option>
            <option value="3">Completed</option>
          </select>
        </div>
        <div class="subcol select">
          <label for="category" id="task_category">Category</label>
          <select>
            <option value="1">dsdfbs</option>
            <option value="2">csdnh i</option>
            <option value="3">jcjhdbch</option>
          </select>
        </div>
      </div>
    </div>
    <div class="taskrow">
      <div class="taskcol">
        <div class="subcol select">
          <label for="sdate">Task Start Date</label>
          <input type="text" placeholder="Task Start Date" name="task_start_date" id="task_start_date"/>
        </div>
        <div class="subcol select">
          <label for="edate">Task Due Date</label>
          <input type="text" placeholder="Due date" name="task_end_date" id="task_end_date"/>
        </div>
      </div>
    </div>
    <div class="taskrow">
      <div class="subcol">
        <label for="task descriptions">Descriptions</label>
        <input type="text" name="task_description" placeholder="Descriptions" id="task_description">
      </div>
  </div>
  <div class="taskrow">
    <div class="taskcol">
      <div class="subcol select">
        <label for="ilavel" id="impotant_level">Important Level</label>
        <select>
          <option value="1">high</option>
          <option value="2">moderate</option>
          <option value="3">low</option>
        </select>
      </div>
      <div class="subcol select">
        <label for="ulevel" id="urgency_level">Urgency Level</label>
        <select>
          <option value="1">high</option>
          <option value="2">moderate</option>
          <option value="3">low</option>
        </select>
      </div>
    </div>
  </div>
  <div class="taskrow">
    <div class="subcol">
      <label for="task descriptions">Attachments</label>
      <input type="file" name="attechment_url" placeholder="Descriptions" id="attechment_url" multiple/>
    </div>
</div>
<div class="taskrow">
  <div class="taskcol">
    <div class="subcol">
      <div></div>
      <div></div>
    </div>
    <div class="taskcol">
      <input type="button" class="button" id="canclebtn" value="cancle">
      <input type="button" class="button" id="savebtn" value="Save">
    </div>
  </div>
</div>

</div>
    </div>
    </div>
  </div>
</body>
</html>