<!DOCTYPE html>
<!-- <html lang="en"> -->

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Teams</title>
  <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css" />
  <link rel="stylesheet" href="/bootstrape/css/bootstrap.css" />
  <link rel="stylesheet" href="/bootstrap_icon_css/bootstrap-icons.min.css" />
  <link rel="stylesheet" href="/boxicon/css/boxicons.min.css" />
  <!-- <link rel="stylesheet" href="/css/managermodule/managerdashboard.css" /> -->
  <link rel="stylesheet" href="/css/managermodule/calender.css" />
  <link rel="stylesheet" href="/css/loginmodule/popup.css" />
  <link rel="stylesheet" href="/css/adminmodule/calenderpage.css">
</head>

<body>
  <div class="managerMain">
    <div id="loader" class="center"></div>
    <div class="managerSidebar"><%- include("sidebar.ejs")%></div>
    <div class="teamcontent pt-4" onclick="closeProf()">
      <div class="row">
        <div class="col-9">

        </div>
        <div class="col-3"><%- include("menubar.ejs")%></div>
      </div>
      <div class="d-flex my-2 position-relative" id="monthpage">
        <i class="bi bi-chevron-left" id="leftsidearrow" onclick="monthminus()"></i>
        <h3 id="heading"></h3>
        <i class="bi bi-chevron-right" id="rightsidearrow" onclick="monthplus()"></i>
      </div>
      <div>
        <table id="calender" style="margin-bottom: 50px"></table>
      </div>
    </div>
  </div>
  </div>
  <script src="/js/loginmodule/lodder.js"></script>
  <script src="/sweetalert2/sweetalert2.min.js"></script>
  <script src="/bootstrape/js/bootstrap.min.js"></script>
  <script src="/js/adminmodule/calenderswitch.js"></script>
  <script src="/js/managermodule/calender.js"></script>
</body>

</html>