<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee List</title>
    <link rel="stylesheet" href="/css/loginmodule/loadder.css" />
    <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css" />
    <link rel="stylesheet" href="/bootstrape/css/bootstrap.css" />
    <link rel="stylesheet" href="/bootstrap_icon_css/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="/css/managermodule/employee.css" />
    <link rel="stylesheet" href="/css/loginmodule/popup.css" />
    <!-- <script src="/js/managermodule/managerdashboard.js"></script>   -->
  </head>

  <body onload="setData()">
    <div id="loader" class="center"></div>
    <div class="managerMain">
      <div class="managerSidebar"><%- include("sidebar.ejs")%></div>

      <div class="employeeContent pt-4" onclick="closeDropdown()">
        <div class="row">
          <div class="col-9">
            <input
              type="text"
              placeholder="Search Employee..."
              name="searchdata"
              style="
                border-radius: 10px;
                height: 40px;
                width: 21.5%;
                padding-left: 1.5%;
              "
              oninput="searchEmployee(this.value)"
            />
          </div>
          <div class="col-3"><%- include("menubar.ejs")%></div>
        </div>
        <div class="showEmployees">
          <div class="employeeHead p-5">
            <div class="tasklft">
              <h2>Employees</h2>
            </div>
            <div>
              <button
                type="button"
                class="btn btn-primary"
                onclick="openPopup()"
                style="background-color: #0a1828"
              >
                Add Employee
              </button>
            </div>
          </div>

          <div class="employeeList"></div>
        </div>
      </div>
    </div>
    <div class="addregistrationcontainer" id="open-registration">
      <%- include("../loginmodule/registration")%>
    </div>

    <script src="/sweetalert2/sweetalert2.min.js"></script>
    <script src="/bootstrape/js/bootstrap.min.js"></script>
    <script src="/js/loginmodule/popup.js"></script>
    <script src="/js/managermodule/employee.js"></script>
    <script src="/js/loginmodule/lodder.js"></script>
  </body>
</html>
