<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manager Dashboard</title>
    <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css" />
    <link rel="stylesheet" href="/bootstrape/css/bootstrap.css" />
    <link rel="stylesheet" href="/bootstrap_icon_css/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="/css/managermodule/managerdashboard.css" />
    <link rel="stylesheet" href="/css/adminmodule/menubar.css" />
    <link rel="stylesheet" href="/css/loginmodule/popup.css" />
    <link rel="stylesheet" href="/boxicon/css/boxicons.min.css" />
    <link rel="stylesheet" href="/css/loginmodule/draganddrop.css" />
  </head>

  <body onload="taskDetails()">
    <div class="managerMain">
      <div class="managerSidebar"><%- include("sidebar.ejs")%></div>
		<div class="managerContent pt-4">

			<div class="row">
				<div class="col-9">
					
				</div>
				<div class="col-3 " style="position: relative;">
					<div class="row ps-5">
						<div class="col-3">
							<i class="bi bi-bell fa-2x col" onclick="fetchNotificationData()"></i>
						</div>
						<div class="col-9 p-1" style="border-radius: 25px; background-color: #505050; width: 60%; cursor: pointer;" onclick="showOption()">
							<img src="" alt="" id="profImg" style="border-radius: 100%; width: 25%;">
							<span class="ps-2" style="color: white; cursor: pointer; font-family: sans-serif; font-size: 18px;" id="userName"></span>
						</div>
					</div>
					<div id="profClk">
						<p data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="getProfile()">Show Profile</p>
						<p>Log out <i class="bi bi-box-arrow-right ps-2"></i></p>
					</div>
				</div>
			</div>

			<div class="taskCount p-4">
				<div class="row">
					<div class="col-4">
						<div class="card" style="width: 100%;">
							<div class="card-body">
								<h5 class="card-title text-center pb-3 count" style="font-size: 55px;"></h5>
								<p class="card-text text-center text-primary pb-2" style="font-size: 25px;">Todo</p>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="card" style="width: 100%;">
							<div class="card-body">
								<h5 class="card-title text-center pb-3 count" style="font-size: 55px;"></h5>
								<p class="card-text text-center text-warning pb-2" style="font-size: 25px;">In Progress</p>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="card" style="width: 100%;">
							<div class="card-body">
								<h5 class="card-title text-center pb-3 count" style="font-size: 55px;"></h5>
								<p class="card-text text-center text-success pb-2" style="font-size: 25px;">Completed</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="showtasks">
		</div>	
				<div class="taskhead p-5">
					<div class="tasklft">
					<div>
						<button type="button" class="btn btn-primary" style = "background-color:#0A1828" onclick="openPopup()">Add Task</button>
					</div>
				</div>
			</div>
			<div class="containere">
				<div class="row lanes">
					<div class="col-4">
						<div id="todo" class="swim-lane" style="background-color: rgb(151, 151, 220); width: 80%; margin-left: 10%;">
							<h2 style="word-wrap: anywhere;">Todo</h2>
							<div class="cards "id="todoTask">
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="swim-lane" id="inprogress" style="background-color: rgb(230, 230, 118); width: 80%; margin-left: 10%;">
							<h2 style="word-wrap: anywhere;">Inprogress</h2>
							<div class="cards " id="inprogressTask">
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="swim-lane" id="completed" style="background-color: rgb(134, 166, 134); width: 80%; margin-left: 10%;">
							<h2 style="word-wrap: anywhere;">completed</h2>
							<div class="cards"id="completedTask">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="addtaskcontainer" id="popup">
			<%- include("addtask.ejs")%>
		</div>

		<div class="editTaskContainer" id="editTaskPopup">
			<%- include("edittask.ejs") %>
		</div>

		

		<div class="managerProfile" id="managerProfile">
			<%- include("managerprofile")%>
		</div>
	</div>
	<div class="addregistrationcontainer" id="task-detailes">
		<div id="task" >

		</div>
	</div>
	</section>
	<script src="/sweetalert2/sweetalert2.min.js"defer></script>
	<script src="/bootstrape/js/bootstrap.min.js"defer></script>
	<script src="/js/managermodule/managerdashboard.js" defer></script>
	<script src="/js/loginmodule/tasks.js"defer></script>
	<script src="/js/loginmodule/draganddrop.js" defer></script>
	<script src="/js/managermodule/notification.js"></script>

	<!-- <script src="/js/loginmodule/popup.js"></script> -->
</body>

</html>
