<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Manager Dashboard</title>
	<link rel="stylesheet" href="/css/managermodule/managerdashboard.css">
</head>

<body>
	<!-- <section style="max-width: 1170px;"> -->
		<div class="managerMain">
			<div class="managerSidebar">
				<%- include("sidebar.ejs")%>
			</div>
	
			<div class="managerContent">
	
				<div class="prof">
					<div class="search">
						<img src="/assets/managerassets/manager_search.svg" alt="" height="30px">
						<input type="text" placeholder="Search" size="30px"  style="padding: 7px; border-radius: 5px;border: none;">
					</div>
					<div class="space"></div>
					<div class="profimg">
						<img src="/assets/managerassets/manager_notification.svg" alt="" height="35px">
						<img src="/assets/managerassets/manager_prof.svg" alt="" height="35px">
					</div>
				</div>
	
				<div class="showtasks">
					
					<div class="taskhead">
						<div class="tasklft">
							<h2>Tasks</h2>
						</div>
						<div class="button">
							<input type="button" value="Add Task" class="blue-btn" onclick="openPopup()">
						</div>	
					</div>
					<div class="taskdetails">
						<div class="containerhead">
							<div class="head">
								<div class="prog">
									<h3>Todo</h3>
								</div>
								<div class="btn">
									<img src="/assets/managerassets/manager_arrow-left-50.svg" alt="" style="display: flex;" onclick="sc('previous', 0)"
										height="30px">
									<img src="/assets/managerassets/manager_arrow-right.svg" alt="" style="display: flex;" onclick="sc('next', 0)"
										height="30px">
								</div>
							</div>
							<div class="taskContainer">
								<div class="tasks">
										<div class="taskDetails">
											<div class="cardHead">
												<div class="search">
													<p>Task 1</p>
												</div>
												<div class="space"></div>
												<div class="dots">
													<img src="/assets/managerassets/manager_menu.svg" alt="" width="100%" onclick="lst(0)">
												</div>
											</div>
											<div class="taskContent">
												<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti beatae sunt rem nisi cum sequi
													rerum nostrum quia error, mollitia laborum, cumque aspernatur suscipit? Voluptatum, deleniti
													consequuntur. Aliquid, quis maiores?</p>
											</div>
										</div>
								</div>
			
								<div class="tasks">
										<div class="taskDetails">
											<div class="cardHead">
												<div class="search">
													<p>Task 1</p>
												</div>
												<div class="space"></div>
												<div class="dots">
													<img src="/assets/managerassets/manager_menu.svg" alt="" width="100%">
												</div>
											</div>
											<div class="taskContent">
												<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti beatae sunt rem nisi cum sequi
													rerum nostrum quia error, mollitia laborum, cumque aspernatur suscipit? Voluptatum, deleniti
													consequuntur. Aliquid, quis maiores?</p>
											</div>
										</div>
								</div>
			
								<div class="tasks">
										<div class="taskDetails">
											<div class="cardHead">
												<div class="search">
													<p>Task 1</p>
												</div>
												<div class="space"></div>
												<div class="dots">
													<img src="/assets/managerassets/manager_menu.svg" alt="" width="100%">
												</div>
											</div>
											<div class="taskContent">
												<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti beatae sunt rem nisi cum sequi
													rerum nostrum quia error, mollitia laborum, cumque aspernatur suscipit? Voluptatum, deleniti
													consequuntur. Aliquid, quis maiores?</p>
											</div>
										</div>
								</div>
			
								<div class="tasks">
										<div class="taskDetails">
											<div class="cardHead">
												<div class="search">
													<p>Task 1</p>
												</div>
												<div class="space"></div>
												<div class="dots">
													<img src="/assets/managerassets/manager_menu.svg" alt="" width="100%">
												</div>
											</div>
											<div class="taskContent">
												<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti beatae sunt rem nisi cum sequi
													rerum nostrum quia error, mollitia laborum, cumque aspernatur suscipit? Voluptatum, deleniti
													consequuntur. Aliquid, quis maiores?</p>
											</div>
										</div>
								</div>
			
								<div class="tasks">
										<div class="taskDetails">
											<div class="cardHead">
												<div class="search">
													<p>Task 1</p>
												</div>
												<div class="space"></div>
												<div class="dots">
													<img src="/assets/managerassets/manager_menu.svg" alt="" width="100%">
												</div>
											</div>
											<div class="taskContent">
												<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti beatae sunt rem nisi cum sequi
													rerum nostrum quia error, mollitia laborum, cumque aspernatur suscipit? Voluptatum, deleniti
													consequuntur. Aliquid, quis maiores?</p>
											</div>
										</div>
								</div>
			
								<div class="tasks">
										<div class="taskDetails">
											<div class="cardHead">
												<div class="search">
													<p>Task 1</p>
												</div>
												<div class="space"></div>
												<div class="dots">
													<img src="/assets/managerassets/manager_menu.svg" alt="" width="100%">
												</div>
											</div>
											<div class="taskContent">
												<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti beatae sunt rem nisi cum sequi
													rerum nostrum quia error, mollitia laborum, cumque aspernatur suscipit? Voluptatum, deleniti
													consequuntur. Aliquid, quis maiores?</p>
											</div>
										</div>
								</div>
			
								<div class="tasks">
										<div class="taskDetails">
											<div class="cardHead">
												<div class="search">
													<p>Task 1</p>
												</div>
												<div class="space"></div>
												<div class="dots">
													<img src="/assets/managerassets/manager_menu.svg" alt="" width="100%">
												</div>
											</div>
											<div class="taskContent">
												<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti beatae sunt rem nisi cum sequi
													rerum nostrum quia error, mollitia laborum, cumque aspernatur suscipit? Voluptatum, deleniti
													consequuntur. Aliquid, quis maiores?</p>
											</div>
										</div>
								</div>
							</div>
						</div>
		
						<div class="containerhead">
							<div class="head">
								<div class="prog">
									<h3>In Progress</h3>
								</div>
								<div class="btn">
									<img src="/assets/managerassets/manager_arrow-left-50.svg" alt="" style="display: flex;" onclick="sc('previous', 1)"
										height="30px">
									<img src="/assets/managerassets/manager_arrow-right.svg" alt="" style="display: flex;" onclick="sc('next', 1)"
										height="30px">
								</div>
							</div>
							<div class="taskContainer">
								<div class="tasks">
										<div class="taskDetails">
											<div class="cardHead">
												<div class="search">
													<p>Task 1</p>
												</div>
												<div class="space"></div>
												<div class="dots">
													<img src="/assets/managerassets/manager_menu.svg" alt="" width="100%">
												</div>
											</div>
											<div class="taskContent">
												<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti beatae sunt rem nisi cum sequi
													rerum nostrum quia error, mollitia laborum, cumque aspernatur suscipit? Voluptatum, deleniti
													consequuntur. Aliquid, quis maiores?</p>
											</div>
										</div>
								</div>
			
								<div class="tasks">
										<div class="taskDetails">
											<div class="cardHead">
												<div class="search">
													<p>Task 1</p>
												</div>
												<div class="space"></div>
												<div class="dots">
													<img src="/assets/managerassets/manager_menu.svg" alt="" width="100%">
												</div>
											</div>
											<div class="taskContent">
												<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti beatae sunt rem nisi cum sequi
													rerum nostrum quia error, mollitia laborum, cumque aspernatur suscipit? Voluptatum, deleniti
													consequuntur. Aliquid, quis maiores?</p>
											</div>
										</div>
								</div>
			
								<div class="tasks">
										<div class="taskDetails">
											<div class="cardHead">
												<div class="search">
													<p>Task 1</p>
												</div>
												<div class="space"></div>
												<div class="dots">
													<img src="/assets/managerassets/manager_menu.svg" alt="" width="100%">
												</div>
											</div>
											<div class="taskContent">
												<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti beatae sunt rem nisi cum sequi
													rerum nostrum quia error, mollitia laborum, cumque aspernatur suscipit? Voluptatum, deleniti
													consequuntur. Aliquid, quis maiores?</p>
											</div>
										</div>
								</div>
			
								<div class="tasks">
										<div class="taskDetails">
											<div class="cardHead">
												<div class="search">
													<p>Task 1</p>
												</div>
												<div class="space"></div>
												<div class="dots">
													<img src="/assets/managerassets/manager_menu.svg" alt="" width="100%">
												</div>
											</div>
											<div class="taskContent">
												<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti beatae sunt rem nisi cum sequi
													rerum nostrum quia error, mollitia laborum, cumque aspernatur suscipit? Voluptatum, deleniti
													consequuntur. Aliquid, quis maiores?</p>
											</div>
										</div>
								</div>
			
								<div class="tasks">
										<div class="taskDetails">
											<div class="cardHead">
												<div class="search">
													<p>Task 1</p>
												</div>
												<div class="space"></div>
												<div class="dots">
													<img src="/assets/managerassets/manager_menu.svg" alt="" width="100%">
												</div>
											</div>
											<div class="taskContent">
												<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti beatae sunt rem nisi cum sequi
													rerum nostrum quia error, mollitia laborum, cumque aspernatur suscipit? Voluptatum, deleniti
													consequuntur. Aliquid, quis maiores?</p>
											</div>
										</div>
								</div>
			
								<div class="tasks">
										<div class="taskDetails">
											<div class="cardHead">
												<div class="search">
													<p>Task 1</p>
												</div>
												<div class="space"></div>
												<div class="dots">
													<img src="/assets/managerassets/manager_menu.svg" alt="" width="100%">
												</div>
											</div>
											<div class="taskContent">
												<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti beatae sunt rem nisi cum sequi
													rerum nostrum quia error, mollitia laborum, cumque aspernatur suscipit? Voluptatum, deleniti
													consequuntur. Aliquid, quis maiores?</p>
											</div>
										</div>
								</div>
			
								<div class="tasks">
										<div class="taskDetails">
											<div class="cardHead">
												<div class="search">
													<p>Task 1</p>
												</div>
												<div class="space"></div>
												<div class="dots">
													<img src="/assets/managerassets/manager_menu.svg" alt="" width="100%">
												</div>
											</div>
											<div class="taskContent">
												<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti beatae sunt rem nisi cum sequi
													rerum nostrum quia error, mollitia laborum, cumque aspernatur suscipit? Voluptatum, deleniti
													consequuntur. Aliquid, quis maiores?</p>
											</div>
										</div>
								</div>
							</div>
						</div>
		
						<div class="containerhead">
							<div class="head">
								<div class="prog">
									<h3>Compleated</h3>
								</div>
								<div class="btn">
									<img src="/assets/managerassets/manager_arrow-left-50.svg" alt="" style="display: flex;" onclick="sc('previous', 2)"
										height="30px">
									<img src="/assets/managerassets/manager_arrow-right.svg" alt="" style="display: flex;" onclick="sc('next', 2)"
										height="30px">
								</div>
							</div>
							<div class="taskContainer">
								<div class="tasks">
										<div class="taskDetails">
											<div class="cardHead">
												<div class="search">
													<p>Task 1</p>
												</div>
												<div class="space"></div>
												<div class="dots">
													<img src="/assets/managerassets/manager_menu.svg" alt="" width="100%">
												</div>
											</div>
											<div class="taskContent">
												<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti beatae sunt rem nisi cum sequi
													rerum nostrum quia error, mollitia laborum, cumque aspernatur suscipit? Voluptatum, deleniti
													consequuntur. Aliquid, quis maiores?</p>
											</div>
										</div>
								</div>
			
								<div class="tasks">
										<div class="taskDetails">
											<div class="cardHead">
												<div class="search">
													<p>Task 1</p>
												</div>
												<div class="space"></div>
												<div class="dots">
													<img src="/assets/managerassets/manager_menu.svg" alt="" width="100%">
												</div>
											</div>
											<div class="taskContent">
												<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti beatae sunt rem nisi cum sequi
													rerum nostrum quia error, mollitia laborum, cumque aspernatur suscipit? Voluptatum, deleniti
													consequuntur. Aliquid, quis maiores?</p>
											</div>
										</div>
								</div>
			
								<div class="tasks">
										<div class="taskDetails">
											<div class="cardHead">
												<div class="search">
													<p>Task 1</p>
												</div>
												<div class="space"></div>
												<div class="dots">
													<img src="/assets/managerassets/manager_menu.svg" alt="" width="100%">
												</div>
											</div>
											<div class="taskContent">
												<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti beatae sunt rem nisi cum sequi
													rerum nostrum quia error, mollitia laborum, cumque aspernatur suscipit? Voluptatum, deleniti
													consequuntur. Aliquid, quis maiores?</p>
											</div>
										</div>
								</div>
			
								<div class="tasks">
										<div class="taskDetails">
											<div class="cardHead">
												<div class="search">
													<p>Task 1</p>
												</div>
												<div class="space"></div>
												<div class="dots">
													<img src="/assets/managerassets/manager_menu.svg" alt="" width="100%">
												</div>
											</div>
											<div class="taskContent">
												<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti beatae sunt rem nisi cum sequi
													rerum nostrum quia error, mollitia laborum, cumque aspernatur suscipit? Voluptatum, deleniti
													consequuntur. Aliquid, quis maiores?</p>
											</div>
										</div>
								</div>
			
								<div class="tasks">
										<div class="taskDetails">
											<div class="cardHead">
												<div class="search">
													<p>Task 1</p>
												</div>
												<div class="space"></div>
												<div class="dots">
													<img src="/assets/managerassets/manager_menu.svg" alt="" width="100%">
												</div>
											</div>
											<div class="taskContent">
												<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti beatae sunt rem nisi cum sequi
													rerum nostrum quia error, mollitia laborum, cumque aspernatur suscipit? Voluptatum, deleniti
													consequuntur. Aliquid, quis maiores?</p>
											</div>
										</div>
								</div>
			
								<div class="tasks">
										<div class="taskDetails">
											<div class="cardHead">
												<div class="search">
													<p>Task 1</p>
												</div>
												<div class="space"></div>
												<div class="dots">
													<img src="/assets/managerassets/manager_menu.svg" alt="" width="100%">
												</div>
											</div>
											<div class="taskContent">
												<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti beatae sunt rem nisi cum sequi
													rerum nostrum quia error, mollitia laborum, cumque aspernatur suscipit? Voluptatum, deleniti
													consequuntur. Aliquid, quis maiores?</p>
											</div>
										</div>
								</div>
			
								<div class="tasks">
										<div class="taskDetails">
											<div class="cardHead">
												<div class="search">
													<p>Task 1</p>
												</div>
												<div class="space"></div>
												<div class="dots">
													<img src="/assets/managerassets/manager_menu.svg" alt="" width="100%">
												</div>
											</div>
											<div class="taskContent">
												<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti beatae sunt rem nisi cum sequi
													rerum nostrum quia error, mollitia laborum, cumque aspernatur suscipit? Voluptatum, deleniti
													consequuntur. Aliquid, quis maiores?</p>
											</div>
										</div>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
		<div class="addtaskcontainer" id="popup">
			<%- include("addtask.ejs")%>
		</div>
	<!-- </section> -->
	<script src="/js/managermodule/managerdashboard"></script>
</body>
</html>