<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pagignation</title>
  </head>
  <body>
    <nav aria-label="...">
      <ul class="pagination">
        <!-- <div class="alert alert-info" id="nodata">
          <strong>no data found</strong>
        </div> -->
        <li class="page-item">
          <p
            class="page-link"
            style="color: #0a1828"
            id="first"
            onclick="firstPage1()"
          >
            &lt;&lt;
          </p>
        </li>
        <li class="page-item">
          <p
            class="page-link"
            style="color: #0a1828"
            id="previous"
            onclick="previous1()"
          >
            &lt;
          </p>
        </li>
        <li class="page-item active">
          <span
            class="page-link"
            style="background-color: #0a1828"
            id="current_page"
          ></span>
        </li>
        <li class="page-item">
          <p
            class="page-link"
            id="next"
            style="color: #0a1828"
            onclick="next1()"
          >
            &gt;
          </p>
        </li>
        <li class="page-item">
          <p
            class="page-link"
            id="last"
            style="color: #0a1828"
            onclick="lastPage1()"
          >
            &gt;&gt;
          </p>
        </li>
      </ul>
    </nav>
  </body>
</html>
