<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pagignation</title>
  </head>
  <body>
    <div class="pagination">
      <div class="alert alert-info" id="nodata">
        <strong>no data found</strong>
      </div>
      <input
        type="button"
        value="firstpage"
        class="btn btn-secondary mx-1"
        id="first"
        onclick="firstPage1()"
      />
      <input
        type="button"
        value="previous"
        class="btn btn-secondary mx-1"
        id="previous"
        onclick="previous1()"
      />
      <span class="page-link" id="current_page"></span>
      <input
        type="button"
        value="next"
        id="next"
        class="btn btn-secondary mx-1"
        onclick="next1()"
      />
      <input
        type="button"
        value="lastpage"
        class="btn btn-secondary mx-1"
        id="last"
        onclick="lastPage1()"
      />
    </div>
  </body>
</html>
