<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pagignation</title>
  </head>
  <body>
    <div class="pagination">
      <input
        type="button"
        value="firstpage"
        class="page-link"
        id="first"
        onclick="firstPage1()"
      />
      <input
        type="button"
        value="previous"
        class="page-link"
        id="previous"
        onclick="previous1()"
      />
      <span class="page-link" id="current_page"></span>
      <input
        type="button"
        value="next"
        id="next"
        class="page-link"
        onclick="next1()"
      />
      <input
        type="button"
        value="lastpage"
        class="page-link"
        id="last"
        onclick="lastPage1()"
      />
    </div>
  </body>
</html>
