<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pagignation</title>
  </head>
  <body>
    <nav aria-label="...">
      <ul class="pagination">
        <div class="alert alert-info" id="nodata">
          <strong>no data found</strong>
        </div>
        <li class="page-item">
          <p class="page-link" id="first" onclick="firstPage1()">First</p>
        </li>
        <li class="page-item">
          <p class="page-link" id="previous" onclick="previous1()">&lt;</p>
        </li>
        <li class="page-item active">
          <span class="page-link" id="current_page"></span>
        </li>
        <li class="page-item">
          <p class="page-link" id="next" onclick="next1()">&gt;</p>
        </li>
        <li class="page-item">
          <p class="page-link" id="last" onclick="lastPage1()">Last</p>
        </li>
      </ul>
    </nav>
  </body>
</html>
