<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css" />
    <link rel="stylesheet" href="/bootstrape/css/bootstrap.css" />
    <link rel="stylesheet" href="/bootstrap_icon_css/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="/css/managermodule/report.css" />
  </head>
  <body onload="loadProf()">
    <div class="managerMain">
      <div class="managerSidebar"><%- include("sidebar.ejs")%></div>
      <div class="managerContent pt-4" onclick="closeDropdown()">
        <div class="row">
          <div class="col-9"></div>
          <div class="col-3"><%- include("menubar.ejs")%></div>
        </div>

        <div class="employeeHead" style="padding: 45px 0">
          <h2 style="font-size: 40px">Employee Reports</h2>
        </div>
        <div class="employeeReport" id="employeeReport"></div>
      </div>

      <div class="managerProfile" id="managerProfile">
        <%- include("managerprofile")%>
      </div>
    </div>

    <script src="/sweetalert2/sweetalert2.min.js"></script>
    <script src="/bootstrape/js/bootstrap.min.js"></script>
    <script src="/js/managermodule/notification.js"></script>
    <script src="/js/managermodule/report.js"></script>
  </body>
</html>
