<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manager modulesidebar</title>
  <link rel="stylesheet" href="/css/managermodule/sidebar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
        <div class="sidebarcontain">
          <div class="logo">
            <img src="/assets/logo.png" alt="" width="50%">
          </div>
          <ul>
          <div class="list">
            <img src="/assets/managerassets/task.svg" alt="">
            <li>Task</li>
          </div>
          <div class="list">
            <img src="/assets/managerassets/employee.svg" alt="">
            <li>Employee</li>
          </div>
          <div class="list">
            <i class="fa-solid fa-right-from-bracket"></i>
            <li>Logout</li>
          </div>
        </ul>
    </div>
</body>
</html>