<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Teams</title>
  <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css">
  <link rel="stylesheet" href="/bootstrape/css/bootstrap.css">
  <link rel="stylesheet" href="/bootstrap_icon_css/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/css/managermodule/managerdashboard.css">
  <link rel="stylesheet" href="/css/managermodule/teams.css">
</head>

<body>
  <div class="managerMain">
    <div class="managerSidebar">
      <%- include("sidebar.ejs")%>
    </div>
    <div class="teamcontent pt-4">
      <div class="row">
        <div class="col-9">
          <input type="text" placeholder="Search" style="border-radius: 10px;" onchange="searchTasks(this.value)">
        </div>
        <div class="col-3">
          <div class="row ps-5">
            <i class="bi bi-bell fa-2x col" onclick="fetchNotificationData()"></i>
            <i class="bi bi-person-circle fa-2x col" id="profImg" onmouseover="profOption()">
              <div id="profClk" onmouseleave="remOption()">
                <p data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="getProfile()">Show Profile</p>
                <p>Log out <i class="bi bi-box-arrow-right ps-2"></i></p>
              </div>
            </i>
          </div>
        </div>
      </div>
      <div class="showtasks">
        <div class="taskhead p-5">
          <div class="tasklft">
            <h2>Teams</h2>
          </div>
          <div>
            <button type="button" class="btn btn-primary" onclick="openPopup()">Create Team</button>
          </div>
        </div>
      </div>
      <div class="row">
        <table id="taskstable">
          <tr>
            <th>TeamID</th>
            <th>TeamName</th>
            <th>View Team Members</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          <tr>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>GermaHH</td>
            <td>GermaHH</td>
            <td>GermaHH</td>
          </tr>
          <tr>
            <td>Berglunds snabbköp</td>
            <td>Christina Berglund</td>
            <td>Sweden</td>
            <td>Sweden</td>
            <td>GermaHH</td>
          </tr>
          <tr>
            <td>Centro comercial Moctezuma</td>
            <td>Francisco Chang</td>
            <td>Mexico</td>
            <td>Mexico</td>
            <td>GermaHH</td>
          </tr>
          <tr>
            <td>Ernst Handel</td>
            <td>Roland Mendel</td>
            <td>Austria</td>
            <td>Austria</td>
            <td>GermaHH</td>
          </tr>
          <tr>
            <td>Island Trading</td>
            <td>Helen Bennett</td>
            <td>UK</td>
            <td>UK</td>
            <td>GermaHH</td>
          </tr>
        </table>
      </div>
    </div>
    <div>

    </div>
    <div class="addtaskcontainer" id="popup">
      <%- include("addteam.ejs")%>
    </div>
    <script src="/sweetalert2/sweetalert2.min.js"></script>
    <script src="/bootstrape/js/bootstrap.min.js"></script>
    <script src="/js/managermodule/managerdashboard.js"></script>
</body>

</html>