<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teams</title>
    <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css" />
    <link rel="stylesheet" href="/bootstrape/css/bootstrap.css" />
    <link rel="stylesheet" href="/bootstrap_icon_css/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="/boxicon/css/boxicons.min.css" />
    <link rel="stylesheet" href="/css/managermodule/managerdashboard.css" />
    <link rel="stylesheet" href="/css/managermodule/teams.css" />
    <link rel="stylesheet" href="/css/loginmodule/popup.css" />
  </head>
  <body onload="showteamdata()">
    <div class="managerMain">
      <div class="managerSidebar"><%- include("sidebar.ejs")%></div>
      <div class="teamcontent pt-4" onclick="closeProf()">
        <div class="row">
          <div class="col-9">
            <input
              type="text"
              placeholder="Search Teams..."
              name="searchdata"
              style="
                border-radius: 10px;
                height: 40px;
                width: 21.5%;
                padding-left: 1.5%;
              "
              oninput="searchTeams(this.value)"
            />
          </div>
          <div class="col-3"><%- include("menubar.ejs")%></div>
        </div>
        <div class="showtasks">
          <div class="taskhead p-5">
            <div class="tasklft">
              <h2>Teams</h2>
            </div>
            <div>
              <button
                type="button"
                class="btn btn-primary"
                onclick="openPopup()"
                style="background-color: #0a1828"
              >
                Create Team
              </button>
            </div>
          </div>
        </div>
        <div class="my-2">
          <div id="errormsg"></div>
          <table class="table mx-2 text-center" id="team-table"></table>
        </div>
        <div class="addregistrationcontainer" id="show-detail">
          <div id="team-form"></div>
        </div>
        <div class="justify-content-end" id="pagignation11">
          <%- include("pagignation.ejs")%>
        </div>
      </div>
      <div class="addtaskcontainer" id="popup">
        <%- include("addteam.ejs")%>
      </div>
    </div>
    <script src="/js/managermodule/teamdata.js"></script>
    <script src="/js/managermodule/pagignation.js"></script>
    <script src="/sweetalert2/sweetalert2.min.js"></script>
    <script src="/bootstrape/js/bootstrap.min.js"></script>
  </body>
</html>
