<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Task Management System</title>
  <link rel="stylesheet" href="/css/adminmodule/loader.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.js"></script>
  <link rel="stylesheet" href="/css/loginmodule/popup.css" />
  <link rel="stylesheet" href="/bootstrap_icon_css/bootstrap-icons.min.css" />
  <script src="/boxicon/dist/boxicons.js"></script>
  <link rel="stylesheet" href="/boxicon/css/boxicons.min.css" />
  <!-- <link rel="stylesheet" href="/css/employee/employee.css" /> -->
  <script src="/js/employee/calender.js"></script>
  <link rel="stylesheet" href="/css/adminmodule/menubar.css">
  <link rel="stylesheet" href="/css/adminmodule/calenderpage.css">
</head>

<body>
  <div class="container-div">
    <link rel="stylesheet" href="/bootstrap_icon_css/bootstrap-icons.min.css">
    <div class="admin">
      <%- include('../partials/employeemenubar') %>
        <div class="rightbar">
          <%- include('../partials/employeenavigation') %>
            <div style="margin-top: 100px;">
              <div id="loader" class="center"></div>
              <div>
                <div class="d-flex my-2 position-relative align-items-center w-50" id="monthpage">
                  <i class="bi bi-chevron-left" id="leftsidearrow" onclick="monthminus()"></i>
                  <h3 id="heading"></h3>
                  <i class="bi bi-chevron-right" id="rightsidearrow" onclick="monthplus()"></i>
                </div>
                <div>
                  <table id="calender" style="margin-bottom: 50px;">
                  </table>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
  </div>
  <script src="/js/adminmodule/loader.js"></script>
  <script src="/js/adminmodule/calenderswitch.js"></script>
  <script src="/js/employee/calender.js"></script>
  <script src="/socket.io/socket.io.js"> </script>
  <script src="/js/employee/alert.js"></script>

</body>

</html>