<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.js"></script>
  <style>
    .container {
      width: 1170px;
    }
  </style>
  <title>Document</title>
</head>

<body>
  <div class="container mx-5">
    <h1>Dashboard</h1>

    <div class="row my-5 ">
      <div class="col-sm-4 mb-3 mb-sm-0 ps-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Assigned</h5>
            <p class="card-text">4</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">In Progress</h5>
            <p class="card-text">3</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Completed</h5>
            <p class="card-text">2</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Upcoming deadlines</h5>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Task</th>
              <th scope="col">Due Date</th>
              <th scope="col">Flag</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Create Backend</td>
              <td>23/04/2024</td>
              <td>Important</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Create Database</td>
              <td>26/04/2024</td>
              <td>Important</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Create Frontend</td>
              <td>29/04/2024</td>
              <td>Important</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Recent Activity</h5>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Task</th>
              <th scope="col">Due Date</th>
              <th scope="col">Flag</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Create Backend</td>
              <td>23/04/2024</td>
              <td>Important</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Create Database</td>
              <td>26/04/2024</td>
              <td>Important</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Create Frontend</td>
              <td>29/04/2024</td>
              <td>Important</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>