<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.js"></script>
  <style>
    .container {
      width: 1170px;
      padding: 0;
    }
  </style>
  <title>Document</title>
</head>

<body>
  <%- include('../partials/employeemenubar') %>
  <div class="container mx-5">
    <h1>Dashboard</h1>

    <div class="row my-5" id="taskCountsElement"></div>

    <div class="row my-5">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Upcoming deadlines</h5>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Task</th>
              <th scope="col">Due Date</th>
              <th scope="col">Flag</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Create Backend</td>
              <td>23/04/2024</td>
              <td>Important</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Create Database</td>
              <td>26/04/2024</td>
              <td>Important</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Create Frontend</td>
              <td>29/04/2024</td>
              <td>Important</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Recent Activity</h5>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Task</th>
              <th scope="col">Due Date</th>
              <th scope="col">Flag</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Create Backend</td>
              <td>23/04/2024</td>
              <td>Important</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Create Database</td>
              <td>26/04/2024</td>
              <td>Important</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Create Frontend</td>
              <td>29/04/2024</td>
              <td>Important</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
<script>
  let dashboardData;
  async function getDashBoardData(url) {
  const response = await fetch(url);
  return response.json(); 
}

const renderData = (dashboardData) => {
  const taskCountsElement = document.getElementById('taskCountsElement')
  
  Object.keys(dashboardData.result).forEach(key => {
    const value = dashboardData.result[key];
    
    let taskCountBox = `<div class="col-sm-4 ps-0" id="taskCountBox">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">${key}</h5>
          <p class="card-text">${value}</p>
          </div>
          </div>
          </div>`
          console.log(taskCountBox);
      taskCountsElement.innerHTML += taskCountBox
    });
}

  getDashBoardData("http://127.0.0.1:8000/employee/getdashboardata").then((data) => {
  dashboardData = data
  renderData(dashboardData)
  });
</script>
</html>