<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/bootstrap_icon_css/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/css/employee/employee.css" />
  <script src="/js/employee/employeeteam.js"></script>
  <!-- <link rel="stylesheet" href="/css/employee/menubar.css" /> -->
  <link rel="stylesheet" href="/css/adminmodule/menubar.css">
  <script src="/js/employee/employeeprofile.js"></script>
  <script src="/js/bootstrap.js"></script>
  <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css">
  <script src="/sweetalert2/sweetalert2.min.js"></script>
  <script src="/js/employee/employeenavigation.js"></script>
  <title>Task Management System</title>
</head>

<body>
  <div class="container-div">
    <div class="admin">
      <%- include('../partials/employeemenubar') %>
        <div class="rightbar">
          <%- include('../partials/employeenavigation') %>
        </div>
    </div>
    <div class="popup-team" id="team">
      <div class="body">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body" id="teamdetails"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-5 mx-5">
      <table class="table" style="text-align: center;width: 83%;
        margin-left: 19%;" id="details">
        <tr>
          <th>Team Name</th>
          <th>Members Details</th>
        </tr>
      </table>
    </div>
  </div>
</body>