<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/employee/employee.css">
  <script src="/js/employee/employee.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.js"></script>
</head>

<body>
  <%- include('../partials/employeemenubar') %>
    <div class="container">
      <div class="main">
        <form method="POST" id="form">

        <div class="search-and-profile">
          <div class="search-container">
            <input type="text" class="searchinput" id="searchinput" placeholder="Search.." value="" name="search">
            <img class="searchbar" src="/assets/employee/search.png" alt="" onclick="seachresult()">
          </div>
          <div class="profile">
            <img class="userprofile" src="/assets/employee/user.png" alt="">
          </div>
        </div>
        <!-- Modal -->
        <div class="popup-task" id="popup">

          <div class="body">
            <form action="">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Task Details</h5>
                  </div>&nbsp;
                  <div class="modal-body" id="taskdetails">
                  </div>
                  <div class="modal-footer-user" id="commentpopup">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                      onclick="showComment('popup-comment')">Comment</button>
                    <button type="button" onclick="hide('popup')" class="btn btn-primary">Close</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!--closed  -->
        <!-- comment modal -->
        <div class="popup-comment" id="popup-comment">

          <div class="body">
            <form action="">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Task Details</h5>
                  </div>&nbsp;
                  <div class="modal-body" id="taskdetails">
                    <table class="table">
                      <tr>
                        <td>
                          Task Status :
                        </td>
                        <td>
                          <select name="taskstatus" id="taskstatus">
                            <option value="todo">ToDo</option>
                            <option value="inprogress">Inprogress</option>
                            <option value="completed">Completed</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Comment :
                        </td>
                        <td>
                          <input type="text" name="taskcomment" id="taskcomment" class="taskcomment">
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label for="myfile">Select a file:</label>
                        </td>
                        <td>
                          <input type="file" id="myfile" name="myfile">
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="modal-footer-user" id="commentpopup">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                      onclick="hideComment('popup-comment')">Close</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- end -->
        <div class="progress-task">
          <div class="name">
            <div class="prostatus">
              <h2>TO DO</h2>
            </div>
            <div class="arrow">

              <div class="arrow1">
                <img class="userprofile" src="/assets/employee/arrow.png" alt="" onclick="sc('previous',0)">
              </div>
              <div class="arrow2">
                <img class="userprofile" src="/assets/employee/right-arrow.png" alt="" onclick="sc('next',0)">
              </div>
            </div>
          </div>
          <div class="carddetails" id="todo">
          </div>
        </div>
        <div class="progress-task">
          <div class="name">

            <div class="prostatus">

              <h2>INPROGRESS</h2>
            </div>
            <div class="arrow">
              <img class="userprofile" src="/assets/employee/arrow.png" alt="" onclick="sc('previous',1)">
              <img class="userprofile" src="/assets/employee/right-arrow.png" alt="" onclick="sc('next',1)">
            </div>
          </div>
          <div class="carddetails" id="inprogress">
          </div>
        </div>
        <div class="progress-task">
          <div class="name">

            <div class="prostatus">

              <h2>COMPLETED</h2>
            </div>
            <div class="arrow">
              <img class="userprofile" src="/assets/employee/arrow.png" alt="" onclick="sc('previous',2)">
              <img class="userprofile" src="/assets/employee/right-arrow.png" alt="" onclick="sc('next',2)">
            </div>
          </div>
          <div class="carddetails" id="completed">
          </div>
        </div>
        </form>
      </div>
    </div>
    </div>
</body>

</html>