<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/bootstrap_icon_css/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/css/employee/employee.css" />
  
  <!-- <link rel="stylesheet" href="/css/employee/menubar.css" /> -->
  <link rel="stylesheet" href="/css/adminmodule/menubar.css">
 
  <script src="/js/bootstrap.js"></script>
  <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css">
  <script src="/sweetalert2/sweetalert2.min.js"></script>
  <script src="/js/employee/employeenavigation.js"></script>
  <title>Task Management System</title>
</head>

<body>
  <div class="container-div">
    <div class="admin">
      <%- include('../partials/employeemenubar') %>
        <div class="rightbar">
          <%- include('../partials/employeenavigation') %>
            <div style="margin-top: 130px;">
                <div class="search float-start mx-3 ">
                  <input type="text" placeholder="Search Team.." class="rounded py-2 px-3 " tabindex="1"
                    oninput="searchTeam(this.value)"/>
                </div>
              <div class="row" style="margin: 80px 0 0 30px;">
                <table class="table" style="text-align: center;width: 83%;" id="details">
                  <tr>
                    <th>Team Name</th>
                    <th>Manager</th>
                    <th>Members Details</th>
                  </tr>
                </table>
              </div>
            </div>
            <div class="popup-team" id="team">
              <div class="body">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                    </div>
                    <div class="modal-body" id="teamdetails"></div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
    <script src="/socket.io/socket.io.js"> </script>
  <script src="/js/employee/alert.js"></script>
  <script src="/js/employee/employeeprofile.js"></script> 
  <script src="/js/employee/employeeteam.js"></script>
</body>