<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Task Management System</title>
  <link rel="stylesheet" href="/bootstrap_icon_css/bootstrap-icons.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/employee/employee.css" />
  <script src="/js/employee/employee.js"></script>
  <script src="/js/employee/employeeprofile.js"></script>
  <script src="/js/employee/employeedashboard.js"></script>
  <link rel="stylesheet" href="/css/employee/menubar.css" />
  <link rel="stylesheet" href="/css/adminmodule/menubar.css">
  <script src="/js/bootstrap.js"></script>
  <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css" />
  <script src="/sweetalert2/sweetalert2.min.js"></script>
  <script src="/js/employee/employeenavigation.js"></script>
</head>

<body>
  <div class="container-div">
    <div class="admin">
      <%- include('../partials/employeemenubar') %>

        <div class="rightbar">
          <%- include('../partials/employeenavigation') %>
        </div>
    </div>
    <div class="popup-task" id="popup">
      <div class="body">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header"></div>
            &nbsp;
            <div class="modal-body" id="taskdetails"></div>
          </div>
        </div>
      </div>
    </div>
    <!--closed  -->
    <!-- comment modal -->
    <div class="popup-comment" id="popup-comment">
      <div class="body">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title fs-3 text" id="exampleModalLongTitle">
                Comments
              </h5>
            </div>
            &nbsp;
            <div class="modal-body" id="taskcommentdetails">
              <table class="table">
                <tr>
                  <td>Task Status :</td>
                  <td>
                    <select name="taskstatus" id="taskstatus" name="taskstatus">
                      <option value="todo">ToDo</option>
                      <option value="inprogress">Inprogress</option>
                      <option value="completed">Completed</option>
                    </select>
                  </td>
                </tr>

                <tr>
                  <td>Comment :</td>
                  <td>
                    <textarea id="taskcomment" name="taskcomment" class="taskcomment" rows="4" cols="50"></textarea>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="myfile">Select a file:</label>
                  </td>
                  <td>
                    <input type="file" id="file" name="file" />
                  </td>
                </tr>
              </table>
            </div>
            <div class="modal-footer-user" id="commentpopup">
              <button type="button" class="btn btn-secondary" data-dismiss="modal"
                onclick="hideComment('popup-comment')">
                Close
              </button>
              <button type="button" class="btn btn-primary" onclick="addcomment()">
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end -->
    <div class="progress-task">
      <div class="name">
        <div class="prostatus">
          <h2>TO DO</h2>
        </div>
        <div class="arrow">

          <div class="arrow1">
            <img class="userprofile" src="/assets/employee/arrow.png" alt="" onclick="sc('previous',0)">
          </div>
          <div class="arrow2">
            <img class="userprofile" src="/assets/employee/right-arrow.png" alt="" onclick="sc('next',0)">
          </div>
        </div>
      </div>
      <div class="carddetails" id="todo">
      </div>
    </div>
    <div class="progress-task">
      <div class="name">

        <div class="prostatus">

          <h2>INPROGRESS</h2>
        </div>
        <div class="arrow">
          <img class="userprofile" src="/assets/employee/arrow.png" alt="" onclick="sc('previous',1)">
          <img class="userprofile" src="/assets/employee/right-arrow.png" alt="" onclick="sc('next',1)">
        </div>
      </div>
      <div class="carddetails" id="inprogress">
      </div>
    </div>
    <div class="progress-task">
      <div class="name">

        <div class="prostatus">

          <h2>COMPLETED</h2>
        </div>
        <div class="arrow">
          <img class="userprofile" src="/assets/employee/arrow.png" alt="" onclick="sc('previous',2)">
          <img class="userprofile" src="/assets/employee/right-arrow.png" alt="" onclick="sc('next',2)">
        </div>
      </div>
      <div class="carddetails" id="completed">
      </div>
    </div>
  </div>