<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" href="/css/employee/employee.css" /> -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/bootstrap_icon_css/bootstrap-icons.min.css" />
  <!-- <link rel="stylesheet" href="/css/employee/menubar.css" /> -->
  <!-- <script src="/js/employee/employee.js"></script> -->
  <!-- <script src="/js/employee/employeeprofile.js"></script> -->
  <!-- <script src="/js/employee/employeedashboard.js"></script> -->
  <!-- <script src="/js/employee/validation.js"></script> -->
  <script src="/js/bootstrap.js"></script>
  <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css" />
  <script src="/sweetalert2/sweetalert2.min.js"></script>
  <!-- <script src="/js/employee/employeenavigation.js"></script> -->
  <script src="/boxicon/dist/boxicons.js"></script>
  <link rel="stylesheet" href="/boxicon/css/boxicons.min.css" />
  <link rel="stylesheet" href="/css/adminmodule/menubar.css" />
  <script src="/js/employee/reports.js" defer></script>
  <title>Task Management System</title>
</head>
<style></style>

<body>
  <div class="container-div">
    <div class="admin">
      <%- include('../partials/employeemenubar') %>
        <div class="rightbar">
          <%- include('../partials/employeenavigation') %>
            <div class="row" style="margin-top: 150px;">
              <div class="col-md-4">
                <div class="card" style="width: 100%">
                  <div class="card-body">
                    This is some text within a card body.
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card" style="width: 100%">
                  <div class="card-body">
                    This is some text within a card body.
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card" style="width: 100%">
                  <div class="card-body">
                    This is some text within a card body.
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</body>

</html>