<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body{
      /* background-image: url('/assets/loginmodule/OIP.jpg');
      background-repeat: no-repeat;
      background-size: 100dvb; */
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh
        }
    .container {
      background-color: rgba(255, 255, 255, .5);
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      margin: auto;
    }
    :root{
      --skyblue: #62c9f1;
    }
    .skyblue{
      color:var(--skyblue);
    }
  </style>
  <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css">
  <script src="/sweetalert2/sweetalert2.min.js"></script>
  <link href="/bootstrape/css/bootstrap.min.css" rel="stylesheet">
  <script src="/js/loginmodule/forgetpassword.js"></script>
  <script src="/js/loginmodule/timmer.js"></script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <body>
    <div class="d-flex container" style="width: fit-content;">
      <div class="m-auto" style="width: 400px;">
        <img src="/assets/loginmodule/forget.png" width="100%" height="auto">
      </div>
      <div style="width: 325px;">
        <form class="p-4"  method="post" id="forget_password">
          <div class="row">
            <div class="col mb-3"><h2 class="text-center skyblue">Forget password</h2></div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <p class="bg-danger text-white text-center" id="error" style="display: none;"></p>
            </div>
        </div>
          <div class="row">
            <div class="col mb-3"><p  id="error" class="alert alert-danger text-center p-2 bold" style='display: none;'></p></div>
          </div>
          <div class="row">
            <div class="col text-center" id="active_timer">
            </div>
          </div>
          <div class="row">
            <div class="col mb-3">
              <label class="skyblue">username</label>
              <input tabindex="1" type="text" name="username" id="username" placeholder="Enter Your Valid Email" class="form-control border-primary">
            </div>
          </div>
          <div class="row">
            <div class="col mb-3">
              <label class="skyblue" hidden>username</label>
              <input tabindex="1" type="text" name="no" id="no" placeholder="Enter Your Valid Email" class="form-control border-primary" hidden>
            </div>
          </div>
          <div class="row">
            <div class="col mb-3">
              <input type="button" ondblclick="return checkUserName()" tabindex="5" class="btn  w-100" style="background-color: var(--skyblue);" onclick="isValidForget()" value="Set">
            </div>
            <!-- <div class="col-md-6">
              <input tabindex="6" type="clear" onclick="this.type=reset" class="btn btn-outline-danger w-100" value="Clear">
            </div> -->
          </div>
<!--   
          <div class="row">
            <div class="col text-center">
              <a href="/forgetpassword">Forget Password</a><br>
              <a href="/createUser">Create new account?</a><br>
              <a href="/index">Back</a>
            </div>
          </div> -->
        </form>
      </div>
    </div>   

    <!-- <script src="/js/loginmodule/validation.js"></script> -->
    <!-- <script src="/js/loginmodule/login.js"></script> -->
  </body>
</html>