<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="/css/managermodule/addtask.css"> -->
  <title>addtask</title>
  <link rel="stylesheet" href="/css/adminmodulo/adduser.css">
</head>

<body>
  <form action="" class="px-4">
    <div class="float-end my-3" onclick="closePopup()" style="cursor: pointer;">
      <i class="fa-solid fa-x" style="font-size: 27px;"></i>
    </div>
    <div>
      <h4 class="text-center my-3">Add Employees</h4>
    </div>
    <div>
      <div class="d-flex">
        <div class="m-4">
          <label for="first_name">First Name : </label> <br>
          <input type="text" name="first_name" id="first_name" class="rounded py-1 px-2 my-2" tabindex="2">
        </div>
        <div class="m-4">
          <label for="last_name">Last Name : </label> <br>
          <input type="text" name="last_name" id="last_name" class="rounded py-1 px-2 my-2" tabindex="3">
        </div>
      </div>
      <div class="d-flex">
        <div class="m-4">
          <label for="email">Email-id : </label> <br>
          <input type="text" name="email" id="email" class="rounded py-1 px-2 my-2" tabindex="4"
            placeholder="abc@gmail.com">
        </div>
        <div class="m-4">
          <label for="contact">Contact : </label> <br>
          <input type="text" name="contact" id="contact" class="rounded py-1 px-2 my-2" tabindex="5"
            placeholder="1234567896">
        </div>
      </div>
      <div class="d-flex">
        <div class="m-4">
          <label for="date_of_birth">date_of_birth : </label> <br>
          <input type="text" name="date_of_birth" id="date_of_birth" class="rounded py-1 px-2 my-2" tabindex="6"
            placeholder="yyyy-mm-dd">
        </div>
        <div class="m-4">
          <label for="img_url">Img_Url : </label> <br>
          <input type="text" name="img_url" id="img_url" class="rounded py-1 px-2 my-2" tabindex="7">
        </div>
      </div>
      <div class="text-center my-3">
        <input type="button" value="Add" onclick="addemployee()" class="px-4 py-2 rounded my-2" tabindex="8">
      </div>
    </div>
  </form>
  <script src="/js/adminmodulo/userformvalidation.js"></script>
</body>

</html>