<html>

<head>
  <link rel="stylesheet" href="/css/adminmodulo/manager.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/bootstrap.js"></script>
  <link rel="stylesheet" href="/css/loginmodule/popup.css">
</head>

<body>

</head>

<body>


  <%- include('../partials/adminmenubar') %>
    <div class="rightbar">
      <%- include('../partials/navigation') %>

      <div class="my-5">
        <div class="my-4">
          calender
        </div>
        </div>

</body>
</html>