<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Managers</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/loginmodule/popup.css">
  <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css">
  <script src="/sweetalert2/sweetalert2.min.js"></script>
</head>

<body onload="getManagerData()">

  <%- include('../partials/adminmenubar') %>
    <div class="rightbar">
      <%- include('../partials/navigation') %>
      <div class="my-5">
        <div class="row1 my-4">
          <div class="search float-start mx-3 ">
            <input type="text" placeholder="Search Employee.." class="rounded py-2 px-3 " tabindex="1"
              onchange="searchData(this.value)">
          </div>
          <div class="addemployee">
            <input type="button" value="+  Add Manager" class="btn btn-secondary float-end mx-2 my-2 px-3" tabindex="2"
              onclick="openPopup()">
          </div>
        </div>
      </div>
      <div class="my-2">
        <table class="table mx-2 text-center" id="man-table">

        </table>
      </div>
      <div id="pagination">

      </div>

      <div  class="addregistrationcontainer" id="show-detail">
        <div id="manager-form">

        </div>
      </div>
    </div>
    </div>
    <div class="addregistrationcontainer" id="open-registration">
      <%- include("../loginmodule/registration")%>
    </div>

    <script src="/js/adminmodulo/manager.js"></script>
    <script src="/js/loginmodule/popup.js"></script>

</body>

</html>