<%- include('../partials/adminmenubar') %>
<div class="rightbar">
    <div class="profilename">
      <div class="bell">
        <i class="fa-solid fa-bell"></i>
      </div>
      <div class="profile">
        <i class="fa-solid fa-user"></i>
      </div>
      <p><B>Name</B></p>
    </div>
    <div>
        managers
      </div>
  </div>